In [1]:
#1
x=[1,"Hello",3.54]
x

[1, 'Hello', 3.54]

In [3]:
#2
y=[1,1,[1,2]]
y[2][1]

2

In [4]:
#3 lst=['a','b','c'] lst[1:] -> b, c
lst=['a','b','c']
lst[1:]

['b', 'c']

In [7]:
#4
dict = {
    "Monday":1,
    "Tuesday":2,
    "Wednesday":3,
    "Thursday":4,
    "Friday":5,
    "Saturday":6,
    "Sunday":7
}
dict

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [10]:
#5
D={'k1':[1,2,3]} 
D['k1'][1]

2

In [12]:
#6 Can you create a list [1,[2,3]] into a tuple
z= [1,[2,3]]
print(z)
z=tuple(z)
z

[1, [2, 3]]

(1, [2, 3])

In [15]:
#7
s=set('Mississippi')
s

{'M', 'i', 'p', 's'}

In [17]:
#8
s.add("X")
s

{'M', 'X', 'i', 'p', 's'}

In [19]:
#9
set([1,1,2,3])

{1, 2, 3}

In [34]:
#10
def printNums():
    s=""
    for i in range(2000,3200):
        if(i%7==0 and i%5!=0):
            s+=str(i)+", "
    return s
                
            
printNums()

'2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, '

In [37]:
#11
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)


x=int(input())
print (fact(x))

8
40320

In [41]:
#12
n=int(input())
d={}
for i in range(1,n+1):
    d[i]=i*i
d

8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [43]:
#13
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [45]:
#14
class InputOutString(object):
    def __init__(self):
        self.s = ""


    def getString(self):
        self.s = input()


    def printString(self):
        print(self.s.upper())


strObj = InputOutString()
strObj.getString()
strObj.printString()

Hello World
HELLO WORLD